body {
    background-color: #ccdef4;
    color: #454b9b;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;

    overflow: hidden;
}

.activeTab {
    font-weight: bold;
}

#myVideo {
    position: absolute;
    min-width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -5;
}

.masterContainer {
    width: 100%;
    height: 100%;
}

.landingContainer {
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    // flex-direction: column;
}

.landingImageContainer {
    position: relative;
}

.landingBackgroundImage {
    height: 80%;
    position: relative;
}

.landingTextContainer {
    position: absolute;
    top: 25%;
    transform: translateX(-30%);
    left: 0;
    text-align: left;
    text-wrap: nowrap;
}

.aboutContainer {
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.landingTitle {
    font-size: 6.5em;
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
    line-height: 100%;
}

.landingButtonContainer {
    position: absolute;
    top: 65%;
    left: 90%;
    text-wrap: nowrap;
    transform: translateX(-50%);
}

.landingBlurb {
    font-size: 1.25em;
}

.landingPosition {
    font-size: 2.25em;
    font-style: italic;
}

.landingButtonContainer {
    display: flex;
    gap: 2rem;
    padding: 25px 0px;
}

.iconContainer {
    display: flex;
    flex-direction: row;
    gap: 30px;
    position: absolute;
    top: 100%;
    left: 2%;
    transform: translateY(-130%);
}

.socialIcon {
    color: #c5d7f1;
    width: 50px;
    height: 50px;
    font-size: 1.75em;
    border-radius: 100%;
    background-color: #454b9b;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
}

.landingButton {
    background-color: #ceddff;
    padding: 5px 15px;
    border-radius: 50px;
    font-size: 1.25rem;
    font-weight: 400;
}

.landingActionButtonContainer {
    position: absolute;
    top: 80%;
    left: 85%;
}

.landingActionButton {
    background-color: #85c2ea;
    padding: 5px 20px;
    border-radius: 50px;
    font-size: 1.5em;
    text-align: center;
}

.rightDetailBlurb {
    color: #9cb2d4;
    font-size: 1.5em;
    transform: translateX(-55%) rotate(-90deg);

    text-wrap: nowrap;
    position: absolute;
    left: 100%;
    top: 50%;
}


.aboutContainer {
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 3%;
}


.aboutBackgroundImageContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    height: 100%;
}

.aboutBackgroundImage {
    height: auto;
}

.aboutTextContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    flex-direction: column;
}

.aboutText {
    flex: 1;
    margin-left: 10%;
    margin-right: 10%;
    gap: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.aboutTextEducation {
    
}

.aboutTextHeader {
    font-size: 3.75em;
    font-style: italic;
}

.aboutTextEducationHeader {
    font-size: 2em;
}

.aboutTextEducationSecondary {
    font-size: 1.75em;
}

.aboutTextEducationTertiary {
    font-size: 1.5em;
    line-height: 150%;
}

.aboutBlurb {
    width: 50%;
    margin-right: auto;
    font-size: 1.25em;
    text-align: left;
}

.nav {
    position: sticky;
    top: 20;
    z-index: 100;
}

.birdLogo {
    width: 50px;
}

.birdLogoListItem {
    margin-left: auto;
    display: none;
}


.nav__toggle {
    position: absolute;
    cursor: pointer;
    margin: 0rem 1rem;
    right: 0;
}

.aboutBackgroundImage {
    height: 50%;
    transform: rotate(180deg);
}

svg {
    width: 1.5rem;
    fill: rgb(28, 4, 85);
}

.close {
    display: none;
}

.menu {
    margin-top: 0.2rem;

}

#nav__checkbox {
    display: none;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    // margin: 1rem;

}

li {
    list-style: none;
    display: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: 1.2rem;
}

#nav__checkbox:checked~ul.nav__menu li {
    display: block;
}

#nav__checkbox:checked~label.nav__toggle .close {
    display: block;
}

#nav__checkbox:checked~label.nav__toggle .menu {
    display: none;
}

.projectsContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectsListContainer {
    background-color: orange;
}

.projectsList {
    display: flex;
    flex-direction: column;
}

.projectItem {
    background-color: green;
}

@media only screen and (min-width:560px) {
    .nav__toggle {
        display: none;
    }

    li {
        display: block;
    }

    .nav__menu {
        display: flex;
        flex-direction: row;
        gap: 2.5rem;
        position: sticky;

    }

    .birdLogoListItem {
        margin-left: auto;
        display: block;
    }
}